.sidebar{
    height: 1000px;
}
.btn-msg{
    background-color: #990000;
    color: #fff;
}
.btn-msg_dark{
    background-color: #343a40;
    color: #fff;
}
.form-inline{
    border-bottom: 1px solid #4f5962;
    padding: 16px 0;
}
.main-sidebar a {
    padding: 10px;
}

.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right{
    top: 14px;
}
.nav-sidebar .btn {
    text-align: left;
}
.nav-sidebar .btn i {
    margin-right: 5px;
}
.border-line{
    padding: 15px 0;
    border-top: 1px solid #4f5962;
}
.clr-msg_dark{
    
    background-color: #343a40;
    color: #fff;
}
.sidebar .mt-2 .nav-item{
    margin-bottom: 5px;
}
.condition-green{
    color: #29D860;
}
.condition-orange{
    color: #D8C429;
}
.condition-red{
    color: #990000;
}

.nav-treeview{
    margin-left: 10px;
    border-left: 1px solid #4B545C;
}
.nav-item .nav-link{
    width: 100% !important;
}
.nav-link{
    display: flex;
    align-items: center;
}
.nav-link p {
    font-size: 14px;
}

.project_photo{
    width: 100%;
    height: 445px;
    object-fit: cover;
}
.info-box{
    padding: 20px;
}
.info-box-icon {
    width: 90px !important;
    height: 90px;
}
.info-box-icon img{
    width: 60px;
    height: 60px;
}
.info-box-number{
    font-size: 24px;
}
.info-box-text, .info-box-number{
    line-height: 1;
}
.project_bg-blue{
    background-color: #17a2b8 !important;
}
.project_bg-green{
    background-color: #28A745 !important;
}
.project_bg-red{
    background-color: #DC3545 !important;
}